<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui">
    <h:head>
        <title>PrimeFaces Tree</title>
    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:tree value="#{treeBean.model}"
                    var="node"
                    selectionMode="single"
                    selection="#{treeBean.selectedNode}"
                    update="form1:messages"
                    nodeSelectListener="#{treeBean.onNodeSelect}"
                    dragdrop="true">
                <p:treeNode type="node">
                    <h:outputText value="#{node}"/>
                </p:treeNode>
                <p:treeNode type="leaf">
                    <h:outputText value="#{node}" />
                </p:treeNode>
            </p:tree>
        </h:form>
    </h:body>
</html>